body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    background-image: url(/src/assets/img/ho-chi-minh-city-ge6e484d15_1920.png);
    background-size: cover;
}

.custom {
    width: 180px !important;
    justify-content: center;
}
.main {
    border-radius: 10px;
    box-shadow: 0px 12px 10px 9px #8888;
    max-width: 700px;
    height: 100vh;
    background-color: #EADEB8;
    margin: auto;
    opacity: 0.9;
}
form#formcity{
    display: grid;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}
input#city{
    margin: 10px;
}
.result {
    border-radius: 0.5px;
    color: white;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
}
#latlonvoteh3{
    text-align: center;
}
h1 {
    text-align: center;
    color: #A09F57;
}
#gpsDiv{
    border-radius: 0.5px;
    color: white;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 20px;
}
h3#vote{
    text-align: center;
}
#cityh3 {
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #C56824;
}
button#gps-tab.nav-link.active{
    color: white;

}
button#gps-tab.nav-link {
    color: #A09F57;
}
button#geolocal-tab.nav-link.active{
    color: white;

}
button#geolocal-tab.nav-link {
    color: #A09F57;
}
button#city-tab.nav-link.active{
    color: white;

}
button#city-tab.nav-link {
    color: #A09F57;
}
#geolocalization {
    display: flex;
    flex-direction:column;
    margin: 40px;
}
#inputone {
    display: flex;
    flex-direction: column;
    margin:15px;
}
#inputtwo {
    display: flex;
    flex-direction: column;
    margin:15px;
}
#inputthree {
    display: flex;
    flex-direction: column;
    margin:15px;
}
.nav-pills  .nav-link.active {
    border-radius: 10px;
    background-color: #A09F57 !important;
}
button.citySearch {
    display:inline-block;
padding:0.5em 1.2em;
border:0.1em solid #EADEB8;

border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color: white;
background-color:#C56824;
text-align:center;
transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button.citySearch:hover{
    border: 0.3em solid #EADEB8 ;
}
button#submitlatlon {
    display:inline-block;
    padding:0.5em 1.2em;
    border:0.1em solid #EADEB8;
    
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    background-color:#C56824;
    text-align:center;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button#submitlatlon:hover{
border: 0.3em solid #EADEB8 ;
}
button#getgps{
    display:inline-block;
    padding:0.5em 1.2em;
    border:0.1em solid #EADEB8;
    
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    background-color:#C56824;
    text-align:center;
    transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

button#getgps:hover{
    border: 0.3em solid #EADEB8 ;
}
#gpsh3{
    margin-top: 50px;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #C56824;
}
#gpsDivv {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: center;
}